# packages in environment at /Users/johndang/anaconda3/envs/quora:
#
# Name                    Version                   Build  Channel
appnope                   0.1.0                 py36_1000    conda-forge
bleach                    3.1.0                      py_0    conda-forge
c-ares                    1.15.0               h470a237_1    conda-forge
ca-certificates           2018.11.29           ha4d7672_0    conda-forge
certifi                   2018.11.29            py36_1000    conda-forge
cycler                    0.10.0                     py_1    conda-forge
decorator                 4.3.0                      py_0    conda-forge
entrypoints               0.3                   py36_1000    conda-forge
freetype                  2.9.1                h6debe1e_4    conda-forge
intel-openmp              2019.1                      144  
ipykernel                 5.1.0           py36h24bf2e0_1001    conda-forge
ipython_genutils          0.2.0                      py_1    conda-forge
ipywidgets                7.4.2                      py_0    conda-forge
jedi                      0.13.2                py36_1000    conda-forge
jpeg                      9c                   h470a237_1    conda-forge
jsonschema                3.0.0a3               py36_1000    conda-forge
jupyter                   1.0.0                      py_1    conda-forge
jupyter_client            5.2.4                      py_0    conda-forge
jupyter_console           6.0.0                      py_0    conda-forge
jupyter_core              4.4.0                      py_0    conda-forge
keras                     2.2.4                    py36_0    conda-forge
keras-applications        1.0.4                      py_1    conda-forge
keras-preprocessing       1.0.2                      py_1    conda-forge
kiwisolver                1.0.1            py36h2d50403_2    conda-forge
llvm-meta                 7.0.0                         0    conda-forge
markupsafe                1.1.0            py36h470a237_0    conda-forge
matplotlib-base           3.0.2            py36hb2d221d_1    conda-forge
mistune                   0.8.4            py36h470a237_0    conda-forge
nbconvert                 5.3.1                      py_1    conda-forge
ncurses                   6.1                  hfc679d8_2    conda-forge
notebook                  5.7.4                 py36_1000    conda-forge
numpy-base                1.15.4           py36h6575580_0  
openblas                  0.3.3                ha44fe06_1    conda-forge
openssl                   1.0.2p               h470a237_2    conda-forge
pandocfilters             1.4.2                      py_1    conda-forge
pexpect                   4.6.0                 py36_1000    conda-forge
pickleshare               0.7.5                 py36_1000    conda-forge
prometheus_client         0.5.0                      py_0    conda-forge
ptyprocess                0.6.0                 py36_1000    conda-forge
pygments                  2.3.1                      py_0    conda-forge
pyrsistent                0.14.9           py36h470a237_0    conda-forge
python-dateutil           2.7.5                      py_0    conda-forge
qtconsole                 4.4.3                      py_0    conda-forge
readline                  7.0                  haf1bffa_1    conda-forge
send2trash                1.5.0                      py_0    conda-forge
setuptools                40.6.3                   py36_0    conda-forge
sqlite                    3.26.0               hb1c47c0_0    conda-forge
tensorboard               1.10.0                   py36_0    conda-forge
tensorflow                1.10.0                   py36_0    conda-forge
tensorflow-hub            0.2.0                      py_0    conda-forge
termcolor                 1.1.0                      py_2    conda-forge
terminado                 0.8.1                 py36_1001    conda-forge
testpath                  0.4.2                 py36_1000    conda-forge
theano                    1.0.3            py36hfc679d8_1    conda-forge
traitlets                 4.3.2                 py36_1000    conda-forge
webencodings              0.5.1                      py_1    conda-forge
werkzeug                  0.14.1                     py_0    conda-forge
wheel                     0.32.3                   py36_0    conda-forge
widgetsnbextension        3.4.2                 py36_1000    conda-forge
zeromq                    4.2.5                hfc679d8_6    conda-forge
