/*
{
  font-family: 'Karla', sans-serif;
}

body
{
  padding-left: 47vw;
  padding-top: 20vw;
  background: #222;
  color: #FFF;
}

label
{
  padding: 10px;
}

button
{
  margin-left: 5px;
  background: #222;
  color: #FFF;
  border-radius: 6px;
}

h1
{
  padding-right: 10vw;
}*/
