<DOCTYPE html>
  {% load static %}
    <html>
        <head>
            <title>answer</title>
            <!-- Latest compiled and minified CSS -->
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
            integrity="sha384-PmY9l28YgO4JwMKbTvgaS7XNZJ30MK9FAZjjzXtlqyZCqBY6X6bXIkM++IkyinN+" crossorigin="anonymous">
            <link rel="stylesheet" href="{% static 'css/answer.css' %}">
            <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
        </head>
        <body>
            <p>{{ Questions }}</p>
            <form method="get" >
                {% csrf_token %}
                {{ lForm }}
                <button type="submit" class="btn btn-default">Again</button>
            </form>
        </body>
    </html>
